@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to bottom, #000, #291b55);
    position: relative;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(1px 1px at 25% 15%, #fff, transparent),
        radial-gradient(1px 1px at 50% 40%, #fff, transparent),
        radial-gradient(2px 2px at 15% 55%, #fff, transparent),
        radial-gradient(1px 1px at 70% 25%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 85% 60%, #fff, transparent),
        radial-gradient(1px 1px at 35% 75%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 90% 10%, #fff, transparent),
        radial-gradient(2px 2px at 5% 30%, #fff, transparent),
        radial-gradient(1px 1px at 60% 85%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 40% 5%, #fff, transparent);
}

.form-box {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 1);
    color: #fff;
    border-radius: 16px;
    padding: 35px;
}

.form-box h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    font-size: 16px;
}

.user-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 20px;
}

.remember-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 16px;
}

.remember-box label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-box label input {
    accent-color: #8001f7;
}

.remember-box a {
    text-decoration: none;
    color: #fff;
}

.remember-box a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #8001f7;
    transition: 0.5s;
}

button:hover {
    background-color: transparent;
    transform: translateY(-5px);
}

.registration-link {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.registration-link a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.registration-link a:hover {
    text-decoration: underline;
}